<!doctype html>
<html>
<head>
  <title>{{title}}</title>

  <!-- semantic UI -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
<body>
  <div class="ui middle aligned center aligned grid">
    <div class="ui fixed inverted main menu">
      <h1 class="item header"><a href="/">Trick or Treat?</a></h1>
    </div>
    <div class="row">
      <div class="column">
        {{{body}}}
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  
  <!-- semantic ui js -->
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  
</body>
</html>