<h1>{{header}}</h1>

<form class="ui form" method="post" >
	<div class="field">
		<label>Username</label>
		<input type="text" name="username" placeholder="username">
	</div>
	<div class="field">
		<label>Password</label>
		<input type="password" name="password" placeholder="password">
	</div>
	<button class="ui button" type="submit">Submit</button>
</form>