           <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.5/p5.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.5/addons/p5.dom.js"></script>

    <p>
       <p>
            <textarea id="textinput" rows="10" cols="100" maxlength="150" placeholder="Enter some text"></textarea>
              <span id="chars">150</span> characters left
            <br/>
        </p>
        <p>
            regex:
            <input id="regex" value="" />
            <input type="checkbox" id="global" />global
            <input type="checkbox" id="case" />case insensitive
            <br/>
        </p>
        <p>
            <button id="submit">run the regex</button>
        </p>
        <script>
  var maxLength = 150;
  $('textarea').keyup(function() {
    var length = $(this).val().length;
    var length = maxLength - length;
    $('#chars').text(length);
  });
  </script>
<script type="text/javascript">
var bpm;


// Here is where we are working with a regex
function process(txt) {

  var flags = 'g';
  
  var regex = new RegExp(regexInput.value(), flags);

//  var regex = new RegExp(regexInput.value(), flags);
  
  //[aeiouy] match any vowel
  console.log(txt);
  // eg /e/g
  console.log(regex);  

  var results = txt.match(regex);
  console.log(results);
    
  var output = '';  
  if (results) {
    for (var i = 0; i < results.length; i++) {
      output = results[i];
      
      //PUT TONE STUFF HERE
//      var sequence = output;
      var sequence = new Tone.Sequence(function(output) {
        
      });
      
      Tone.Transport.bpm = bpm;
      output += results[i] + '<br/>';
      console.log(output);
  }
    } else {
      console.log(output);
    //output = 'No matches found';
  }
  
  // puts the output list in a <p> element
  var par = createP(output);
  par.class('text');
  paragraphs.push(par);
}


/***************************************************/
/* Everything below just handles the text input ****/
/***************************************************/


// Many DOM elements
var dropZone, input, button, sample, clearButton;

// Checkboxes and regex input
var regexInput, globalCheck, caseCheck;

// An array to keep track of all the new DOM elements being added
var paragraphs = [];

var inputText = '';

function setup() {
  noCanvas();

  bpm = select('#textinput');
  console.log(bpm);
  
  // Selecting the text field and button
  input = select('#textinput');
  button = select('#submit');
  
  // What to do when button pressed
  button.mousePressed(handleInput);
  console.log(button);
  
  // input is the regex field
  regexInput = select('#regex');
  
}

// Handle the text input field
function handleInput() {
  process(input.value());
}

</script>
