<div class="ui middle aligned center aligned grid">
{{!--   <div class="column">
    <h1 class="ui header">{{msg}}</h1>
  </div> --}}
</div>
<div>
	  <form class="ui form" method="post">
	  	<textarea rows="5" cols="50" maxlength="150" wrap="hard" name="text"></textarea>
	  	<button class="ui button" type="submit">Submit</button>
	  </form>
  </div>